*.DS_Store

/.project

.classpath
.project
.settings/*
.idea/*
*.iml

*.log
*.dat

bin/*
target/*
evaluation/*
output/*
sensorData/*

createMongoDBDumps.sh
endlessSensorSimulatorLoop*.sh
startSensorSimulator*.sh
